.menu-item {
  display: block;
  padding: 0 1rem;
  border: 0.3rem solid transparent;
  transition: all 0.2s linear;
  &.active {
    border-left-color: #952fd1;
    .icon {
      display: none;
    }
    .icon-active {
      display: flex;
      color: #952fd1;
    }
    .title {
      color: var(--text);
    }
  }
}

.menu-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  &:hover {
    background-color: var(--bg-main-hover);
    .icon {
      color: #c6a0dd;
    }
  }
  .icon,
  .icon-active {
    display: flex;
    font-size: 2.4rem;
  }
  .icon-active {
    display: none;
  }
  .title {
    display: flex;
    padding-right: 5rem;
    font-weight: 500;
    color: var(--text-sc);
  }
}
