:root {
  --primary: #73abfa;
  --primary-sc: #86ecfc;
  --text: black;
  --text-sc: #364366;
  --text-placeholder: #65676b;
  --border-color: #999;
  --error: #e41e3f;
  --bg: #fff;
  --bg-main: #e6f5ff;
  --bg-main-hover: #d4edff;
  --border: 0.1rem solid rgb(182, 182, 182);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --border-focus: 0.1rem solid var(--primary);
  --header-height: 5.6rem;
  --header-search-width: 50rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

//Fonts embeded
@font-face {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/SegoeUI.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/SegoeUIBold.woff") format("woff");
}

img {
  object-fit: cover;
}

li {
  list-style: none;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  background-color: transparent;
}

.btn {
  overflow: hidden;
  color: #fff;
  border-radius: 3rem;
  box-shadow: 0 0 0 0 rgba(74, 46, 111, 1), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3 ease;
}
.btn::after {
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -5rem;
  left: -10rem;
  background-color: #7468a7;
  background-image: linear-gradient(
    225deg,
    #27d86c 0%,
    #26caf8 50%,
    #c625d0 100%
  );
  z-index: -1;
  transition: transform 0.5s ease;
}
.btn:hover {
  transform: translate(0, -0.6rem);
  box-shadow: 1rem -1rem 2.5rem 0 rgba(74, 46, 111, 1),
    -1rem 1rem 2.5rem 0 rgba(39, 200, 255, 0.5);
}
.btn:hover::after {
  transform: rotate(150deg);
}
