.sidebar {
  padding: 1rem 0;
  background-color: var(--bg-main);
  // border-right: 0.1rem solid rgba(182, 182, 182);
}

.user-avatar {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  // &:hover {
  //   filter: contrast(120%);
  // }
}
