.header {
  position: relative;
  height: var(--header-height);
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  padding: 0 1.6rem;
}

.logo {
  // position: absolute;
  height: var(--header-height);
}

.search {
  --search-height: 4rem;
  --search-top-spacer: 0.8rem;
  --search-btn-width: 5rem;
  position: relative;
  height: var(--search-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background-color: rgba(22, 24, 35, 0.06);
  border: 1px solid transparent;
  input {
    flex: 1;
    padding: 1.2rem 1.6rem;
    caret-color: var(--primary);
    color: var(--text);
  }
  input::-webkit-input-placeholder {
    color: var(--text-placeholder);
  }
  input:focus::-webkit-input-placeholder {
    color: #b6b9bd;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    right: var(--search-btn-width);
    background-color: rgba(22, 24, 35, 0.12);
  }
  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.clear {
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  height: var(--search-height);
  font-size: 2.4rem;
  padding: 0 1.3rem;
  color: rgba(22, 24, 35, 0.34);
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.search,
.search-result {
  width: var(--header-search-width);
}

// Control actions
.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.action-btn {
  position: relative;
  cursor: pointer;
  padding: 0.9rem;
  border-radius: 50%;
  background-color: var(--bg-main);
  color: var(--text);
  &:hover {
    background-color: var(--bg-main-hover);
  }
  &:last-child {
    padding: 0;
    background: none;
  }
}

.user-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  &:hover {
    filter: contrast(120%);
  }
}

.badge {
  position: absolute;
  top: -0.5rem;
  right: -0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--error);
  font-size: 1.3rem;
  border-radius: 10px;
  height: 1.8rem;
  width: 1.8rem;
  color: #fff;
  padding: 0 0.6rem;
}
