.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg);
  padding: 0.8rem;
  border-radius: 0.8rem;
  min-height: 10rem;
  max-height: calc(100vh - var(--header-height) * 3);
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      var(--primary) 0%,
      var(--primary-sc) 93%
    );
    border-radius: 5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
